@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --color-black-50: #727272;
  --color-black-100: #6a6a6a;
  --color-black-200: #5e5e5e;
  --color-black-300: #555555;
  --color-black-400: #494949;
  --color-black-500: #3e3e3e;
  --color-black-600: #323232;
  --color-black-700: #2a2a2a;
  --color-black-800: #1f1f1f;
  --color-black-900: #151515;
  --color-black-950: #111111;


}

:root,
body,
#__nuxt {
  background-color: var(--color-black-950);
  height: 100vh;
  color: #f9f9f9;
}

@layer base {
  p {
    font-size: var(--text-sm);
    color: var(--color-gray-300);
  }

  h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-black);
    color: var(--color-gray-100);
  }

  h2 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
    color: var(--color-gray-100);
  }

  h3 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-100);
  }
}
